*, *::after, *::before {
    padding: 0;
    box-sizing: border-box;
    cursor: url('media/Vote\ Cursor.png'), pointer;
}

html {
    background: ivory;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: auto;
    background: rgb(255, 19, 19);
    color: #303ca3;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3.4px;
}

#thankYou {
    display: grid;
    justify-content: center;
    padding-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-shadow: .5px 1px rgb(194, 194, 180);
}

#nixonPicture {
    display: grid;
    border: 10px solid #303ca3;
    border-radius: 4px;
    margin-top: 20px;
    width: 700px;
    height: 466px;
    box-shadow: 5px 10px rgb(194, 194, 180);

    display: block;
    margin-left: auto;
    margin-right: auto;
}



#reroll {
    float: right;
    display: block;
    padding: 8px;
    background-color: red;
    color: ivory;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 3.5px 5px #303ca3;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

#reroll:active { 
    transform: scale(0.98);
}